In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv('failed_desserts1.csv')
df2 = pd.read_csv('failed_desserts2.csv')
df3 = pd.read_csv('failed_desserts3.csv')
df4 = pd.read_csv('failed_desserts_186.csv')

In [3]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76 entries, 0 to 75
Data columns (total 10 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   title                         76 non-null     object
 1   prep_time                     76 non-null     object
 2   cook_time                     76 non-null     object
 3   total_time                    76 non-null     object
 4   ingredients                   76 non-null     object
 5   ingredients with measurement  76 non-null     object
 6   instructions                  76 non-null     object
 7   calories                      76 non-null     object
 8   servings                      76 non-null     object
 9   images                        76 non-null     object
dtypes: object(10)
memory usage: 6.1+ KB

In [4]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 291 entries, 0 to 290
Data columns (total 10 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   title                         291 non-null    object
 1   prep_time                     291 non-null    object
 2   cook_time                     291 non-null    object
 3   total_time                    291 non-null    object
 4   ingredients                   291 non-null    object
 5   ingredients with measurement  291 non-null    object
 6   instructions                  291 non-null    object
 7   calories                      291 non-null    object
 8   servings                      291 non-null    object
 9   images                        291 non-null    object
dtypes: object(10)
memory usage: 22.9+ KB

In [9]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 10 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   title                         59 non-null     object
 1   prep_time                     59 non-null     object
 2   cook_time                     59 non-null     object
 3   total_time                    59 non-null     object
 4   ingredients                   59 non-null     object
 5   ingredients with measurement  59 non-null     object
 6   instructions                  59 non-null     object
 7   calories                      59 non-null     object
 8   servings                      59 non-null     object
 9   images                        59 non-null     object
dtypes: object(10)
memory usage: 4.7+ KB

In [10]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186 entries, 0 to 185
Data columns (total 10 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   title                         186 non-null    object
 1   prep_time                     186 non-null    object
 2   cook_time                     186 non-null    object
 3   total_time                    186 non-null    object
 4   ingredients                   186 non-null    object
 5   ingredients with measurement  186 non-null    object
 6   instructions                  186 non-null    object
 7   calories                      186 non-null    object
 8   servings                      186 non-null    object
 9   images                        186 non-null    object
dtypes: object(10)
memory usage: 14.7+ KB

In [5]:
df5 = pd.read_csv('desserts_1_201.csv')
# df6 = pd.read_csv('desserts_201_501.csv')
df7 = pd.read_csv('desserts_501_792.csv')

In [6]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75 entries, 0 to 74
Data columns (total 10 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   title                         75 non-null     object
 1   prep_time                     75 non-null     object
 2   cook_time                     75 non-null     object
 3   total_time                    75 non-null     object
 4   ingredients                   75 non-null     object
 5   ingredients with measurement  75 non-null     object
 6   instructions                  75 non-null     object
 7   calories                      75 non-null     object
 8   servings                      75 non-null     object
 9   images                        75 non-null     object
dtypes: object(10)
memory usage: 6.0+ KB

In [7]:
df6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124 entries, 0 to 123
Data columns (total 10 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   title                         124 non-null    object
 1   prep_time                     124 non-null    object
 2   cook_time                     124 non-null    object
 3   total_time                    124 non-null    object
 4   ingredients                   124 non-null    object
 5   ingredients with measurement  124 non-null    object
 6   instructions                  124 non-null    object
 7   calories                      124 non-null    object
 8   servings                      124 non-null    object
 9   images                        124 non-null    object
dtypes: object(10)
memory usage: 9.8+ KB

In [8]:
df7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 10 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   title                         240 non-null    object
 1   prep_time                     240 non-null    object
 2   cook_time                     240 non-null    object
 3   total_time                    240 non-null    object
 4   ingredients                   240 non-null    object
 5   ingredients with measurement  240 non-null    object
 6   instructions                  240 non-null    object
 7   calories                      240 non-null    object
 8   servings                      240 non-null    object
 9   images                        240 non-null    object
dtypes: object(10)
memory usage: 18.9+ KB

In [11]:
# Empty Dataframe
columns = [
    'title',
    'prep_time',
    'cook_time',
    'total_time',
    'ingredients',
    'ingredients with measurement',
    'instructions',
    'calories',
    'servings',
    'images'
]

In [12]:
final = pd.DataFrame(columns=columns)
final

Empty DataFrame
Columns: [title, prep_time, cook_time, total_time, ingredients, ingredients with measurement, instructions, calories, servings, images]
Index: []

In [13]:
final = pd.concat([final, df2], ignore_index=True)
final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 291 entries, 0 to 290
Data columns (total 10 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   title                         291 non-null    object
 1   prep_time                     291 non-null    object
 2   cook_time                     291 non-null    object
 3   total_time                    291 non-null    object
 4   ingredients                   291 non-null    object
 5   ingredients with measurement  291 non-null    object
 6   instructions                  291 non-null    object
 7   calories                      291 non-null    object
 8   servings                      291 non-null    object
 9   images                        291 non-null    object
dtypes: object(10)
memory usage: 22.9+ KB

In [14]:
final = pd.concat([final, df4], ignore_index=True)
final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 477 entries, 0 to 476
Data columns (total 10 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   title                         477 non-null    object
 1   prep_time                     477 non-null    object
 2   cook_time                     477 non-null    object
 3   total_time                    477 non-null    object
 4   ingredients                   477 non-null    object
 5   ingredients with measurement  477 non-null    object
 6   instructions                  477 non-null    object
 7   calories                      477 non-null    object
 8   servings                      477 non-null    object
 9   images                        477 non-null    object
dtypes: object(10)
memory usage: 37.4+ KB

In [15]:
final = pd.concat([final, df5], ignore_index=True)
final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 552 entries, 0 to 551
Data columns (total 10 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   title                         552 non-null    object
 1   prep_time                     552 non-null    object
 2   cook_time                     552 non-null    object
 3   total_time                    552 non-null    object
 4   ingredients                   552 non-null    object
 5   ingredients with measurement  552 non-null    object
 6   instructions                  552 non-null    object
 7   calories                      552 non-null    object
 8   servings                      552 non-null    object
 9   images                        552 non-null    object
dtypes: object(10)
memory usage: 43.2+ KB

In [16]:
final = pd.concat([final, df7], ignore_index=True)
final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 792 entries, 0 to 791
Data columns (total 10 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   title                         792 non-null    object
 1   prep_time                     792 non-null    object
 2   cook_time                     792 non-null    object
 3   total_time                    792 non-null    object
 4   ingredients                   792 non-null    object
 5   ingredients with measurement  792 non-null    object
 6   instructions                  792 non-null    object
 7   calories                      792 non-null    object
 8   servings                      792 non-null    object
 9   images                        792 non-null    object
dtypes: object(10)
memory usage: 62.0+ KB

In [18]:
final['type_of_meal'] = 'dessert'

In [20]:
final.sample(5)

,title,prep_time,cook_time,total_time,ingredients,ingredients with measurement,instructions,calories,servings,images,type_of_meal
696,Creamy Lemon Bars with Browned Butter Raspberr...,{'minutes': '20'},{'minutes': '30'},"{'hours': '2', 'minutes': '50'}","['Ritz crackers, finely crushed into crumbs', ...","{'Ritz crackers, finely crushed into crumbs': ...",['1. Preheat the oven to 350 degrees F. Line a...,695 kcal,8,https://www.halfbakedharvest.com/wp-content/up...,dessert
259,-,-,-,-,-,-,-,-,-,https://www.halfbakedharvest.com/wp-content/up...,dessert
711,Strawberry Shortcake Grilled Doughnuts.,{'minutes': '25'},{'minutes': '5'},{'minutes': '30'},"['fresh strawberries', 'granulated sugar', 'ze...","{'fresh strawberries': '6', 'granulated sugar'...",[],578 kcal,12,https://www.halfbakedharvest.com/wp-content/up...,dessert
299,Salted Pretzel Snickers Chocolate Chip Cookie ...,{'minutes': '20'},{'minutes': '20'},{'minutes': '40'},"['salted butter', 'packed dark brown sugar', '...","{'salted butter': '2', 'packed dark brown suga...",['1. Preheat the oven to 350° F. Line a 9×13 i...,250 kcal,22,https://www.halfbakedharvest.com/wp-content/up...,dessert
15,Chocolate Cinnamon Sugar Pull Apart Wreath,{'minutes': '30'},{'minutes': '30'},"{'hours': '2', 'minutes': '30'}","['warm milk', 'active dry yeast', 'honey', 'sa...","{'warm milk': '3/4', 'active dry yeast': '2 1/...",['1. In the bowl of a stand mixer fitted with ...,518 kcal,10,https://www.halfbakedharvest.com/wp-content/up...,dessert

In [21]:
def save_list_to_txt(filename, data_list):
    """
    Save a list of strings to a text file, one item per line.
    
    :param filename: The name of the file to save the list to.
    :param data_list: The list of strings to save.
    """
    with open(filename, 'w') as f:
        for item in data_list:
            f.write(f"{item}\n")

In [22]:
final.to_csv('recipes_desserts.csv', index=False)