In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv('final_maincourse_recipes.csv')
df2 = pd.read_csv('final_dessert_recipes.csv')
df3 = pd.read_csv('final_appetizer_recipes.csv')
df4 = pd.read_csv('final_drinks_recipes.csv')

In [3]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144 entries, 0 to 143
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   title                         144 non-null    object
 1   prep_time                     144 non-null    object
 2   cook_time                     144 non-null    object
 3   total_time                    144 non-null    object
 4   ingredients                   144 non-null    object
 5   ingredients with measurement  144 non-null    object
 6   instructions                  144 non-null    object
 7   calories                      144 non-null    object
 8   servings                      144 non-null    int64
 9   images                        144 non-null    object
 10  type_of_meal                  144 non-null    object
dtypes: int64(1), object(10)
memory usage: 12.5+ KB

In [4]:
# Empty Dataframe
columns = [
    'title',
    'prep_time',
    'cook_time',
    'total_time',
    'ingredients',
    'ingredients with measurement',
    'instructions',
    'calories',
    'servings',
    'images',
    'type_of_meal'
]

In [5]:
final = pd.DataFrame(columns=columns)
final

Empty DataFrame
Columns: [title, prep_time, cook_time, total_time, ingredients, ingredients with measurement, instructions, calories, servings, images, type_of_meal]
Index: []

In [6]:
final = pd.concat([final, df1], ignore_index=True)
final = pd.concat([final, df2], ignore_index=True)
final = pd.concat([final, df3], ignore_index=True)
final = pd.concat([final, df4], ignore_index=True)

In [13]:
final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2350 entries, 0 to 2349
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   title                         2350 non-null   object
 1   prep_time                     2350 non-null   object
 2   cook_time                     2350 non-null   object
 3   total_time                    2350 non-null   object
 4   ingredients                   2350 non-null   object
 5   ingredients with measurement  2350 non-null   object
 6   instructions                  2350 non-null   object
 7   calories                      2350 non-null   object
 8   servings                      2350 non-null   object
 9   images                        2350 non-null   object
 10  type_of_meal                  2350 non-null   object
dtypes: object(11)
memory usage: 202.1+ KB

In [15]:
final = final.reset_index(drop=True)

In [17]:
final.tail(5)

,title,prep_time,cook_time,total_time,ingredients,ingredients with measurement,instructions,calories,servings,images,type_of_meal
2345,Fig Bourbon Cider Smash,{'minutes': '5'},-,{'minutes': '5'},"['apple cider', 'orange zest + 2 tablespoons j...","{'apple cider': '1/4', 'orange zest + 2 tables...","['1. In a cocktail shaker, combine the apple c...",52 kcal,1,https://www.halfbakedharvest.com/wp-content/up...,drink
2346,Salted Watermelon Paloma,{'minutes': '10'},-,{'minutes': '10'},"['cubed watermelon', 'kosher salt', 'Florida’s...","{'cubed watermelon': '2', 'kosher salt': 'seas...",['1. Add the watermelon to a blender and pulse...,68 kcal,1,https://www.halfbakedharvest.com/wp-content/up...,drink
2347,Blackberry Thyme Margarita,{'minutes': '5'},-,{'minutes': '5'},"['fresh blackberries', 'small red plum, quarte...","{'fresh blackberries': '8', 'small red plum, q...",['1.\xa0Run a lime wedge around the rim of you...,84 kcal,1,https://www.halfbakedharvest.com/wp-content/up...,drink
2348,Sweet Bourbon Peach Lemonade,{'minutes': '5'},-,{'minutes': '5'},"[""Florida's Natural® Brand Lemonade with Raspb...","{""Florida's Natural® Brand Lemonade with Raspb...","['1. In a blender, combine the lemonade and pe...",136 kcal,8,https://www.halfbakedharvest.com/wp-content/up...,drink
2349,Hibiscus Cherry Vodka Spritz,{'minutes': '15'},{'minutes': '5'},{'minutes': '20'},"['fresh cherries', 'dried hibiscus flowers', '...","{'fresh cherries': '3/4', 'dried hibiscus flow...",['1. Add the cherries to a medium size pot. Us...,158 kcal,4,https://www.halfbakedharvest.com/wp-content/up...,drink

In [20]:
final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2350 entries, 0 to 2349
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   title                         2350 non-null   object
 1   prep_time                     2350 non-null   object
 2   cook_time                     2350 non-null   object
 3   total_time                    2350 non-null   object
 4   ingredients                   2350 non-null   object
 5   ingredients with measurement  2350 non-null   object
 6   instructions                  2350 non-null   object
 7   calories                      2350 non-null   object
 8   servings                      2350 non-null   object
 9   images                        2350 non-null   object
 10  type_of_meal                  2350 non-null   object
dtypes: object(11)
memory usage: 202.1+ KB

In [22]:
final.loc[:, ['title', 'ingredients']] = final[['title', 'ingredients']].replace('-', np.nan)

In [23]:
final.replace('None', np.nan, inplace=True)

In [24]:
final.isnull().sum()

title                           0
prep_time                       0
cook_time                       0
total_time                      0
ingredients                     0
ingredients with measurement    0
instructions                    0
calories                        0
servings                        0
images                          0
type_of_meal                    0
dtype: int64

In [ ]:
final.dropna(inplace=True)

In [18]:
def save_list_to_txt(filename, data_list):
    with open(filename, 'w') as f:
        for item in data_list:
            f.write(f"{item}\n")

In [19]:
final.to_csv('final_recipes.csv', index=False)