In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv('failed_appetizers.csv')
df2 = pd.read_csv('appetizers_1_end.csv')

In [3]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 10 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   title                         157 non-null    object
 1   prep_time                     157 non-null    object
 2   cook_time                     157 non-null    object
 3   total_time                    157 non-null    object
 4   ingredients                   157 non-null    object
 5   ingredients with measurement  157 non-null    object
 6   instructions                  157 non-null    object
 7   calories                      157 non-null    object
 8   servings                      157 non-null    object
 9   images                        157 non-null    object
dtypes: object(10)
memory usage: 12.4+ KB

In [5]:
# Empty Dataframe
columns = [
    'title',
    'prep_time',
    'cook_time',
    'total_time',
    'ingredients',
    'ingredients with measurement',
    'instructions',
    'calories',
    'servings',
    'images'
]

In [6]:
final = pd.DataFrame(columns=columns)
final

Empty DataFrame
Columns: [title, prep_time, cook_time, total_time, ingredients, ingredients with measurement, instructions, calories, servings, images]
Index: []

In [7]:
final = pd.concat([final, df1], ignore_index=True)
final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 10 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   title                         157 non-null    object
 1   prep_time                     157 non-null    object
 2   cook_time                     157 non-null    object
 3   total_time                    157 non-null    object
 4   ingredients                   157 non-null    object
 5   ingredients with measurement  157 non-null    object
 6   instructions                  157 non-null    object
 7   calories                      157 non-null    object
 8   servings                      157 non-null    object
 9   images                        157 non-null    object
dtypes: object(10)
memory usage: 12.4+ KB

In [8]:
final = pd.concat([final, df2], ignore_index=True)
final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 468 entries, 0 to 467
Data columns (total 10 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   title                         468 non-null    object
 1   prep_time                     468 non-null    object
 2   cook_time                     468 non-null    object
 3   total_time                    468 non-null    object
 4   ingredients                   468 non-null    object
 5   ingredients with measurement  468 non-null    object
 6   instructions                  468 non-null    object
 7   calories                      468 non-null    object
 8   servings                      468 non-null    object
 9   images                        468 non-null    object
dtypes: object(10)
memory usage: 36.7+ KB

In [9]:
final['type_of_meal'] = 'appetizer'

In [10]:
final.sample(5)

,title,prep_time,cook_time,total_time,ingredients,ingredients with measurement,instructions,calories,servings,images,type_of_meal
33,"Ham and Cheese Sandwiches with Bacon, Pineappl...",{'minutes': '30'},{'minutes': '40'},"{'hours': '1', 'minutes': '10'}","['large onion', 'sweet onions', 'butter', 'pin...","{'large onion': '1', 'sweet onions': '2', 'but...",[],567 kcal,12,https://www.halfbakedharvest.com/wp-content/up...,appetizer
412,"Crispy Prosciutto, Asparagus, and Brie Toast.",{'minutes': '15'},{'minutes': '15'},{'minutes': '30'},"['extra virgin olive oil', 'thin asparagus, en...","{'extra virgin olive oil': '6', 'thin asparagu...","['1. Preheat the oven to 425 degrees F.', '2. ...",694 kcal,8,https://www.halfbakedharvest.com/wp-content/up...,appetizer
58,Spinach and Artichoke Corn Fritters with Brie ...,{'minutes': '15'},{'minutes': '15'},{'minutes': '30'},"['sweet yellow corn', 'fresh spinach', 'marina...","{'sweet yellow corn': '1 1/4', 'fresh spinach'...",[],140 kcal,20,https://www.halfbakedharvest.com/wp-content/up...,appetizer
451,Chipotle Quinoa Sweet Potato Tacos with Roaste...,{'minutes': '10'},{'minutes': '40'},{'minutes': '50'},"['olive oil', 'a small sweet onion', 'garlic',...","{'olive oil': '2', 'a small sweet onion': '1/2...",[],628 kcal,8,https://www.halfbakedharvest.com/wp-content/up...,appetizer
318,"Zucchini, Bacon, and Pecorino Tart",{'minutes': '20'},{'hours': '1'},"{'hours': '1', 'minutes': '20'}","['frozen puff pastry, thawed', 'medium zucchin...","{'frozen puff pastry, thawed': '1', 'medium zu...",['1. Preheat the oven to 400 degrees. Grease a...,638 kcal,6,https://www.halfbakedharvest.com/wp-content/up...,appetizer

In [11]:
def save_list_to_txt(filename, data_list):
    """
    Save a list of strings to a text file, one item per line.
    
    :param filename: The name of the file to save the list to.
    :param data_list: The list of strings to save.
    """
    with open(filename, 'w') as f:
        for item in data_list:
            f.write(f"{item}\n")

In [12]:
final.to_csv('recipes_appetizer.csv', index=False)