In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv('failed_drinks.csv')
df2 = pd.read_csv('drinks_1_end.csv')

In [3]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47 entries, 0 to 46
Data columns (total 10 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   title                         47 non-null     object
 1   prep_time                     47 non-null     object
 2   cook_time                     47 non-null     object
 3   total_time                    47 non-null     object
 4   ingredients                   47 non-null     object
 5   ingredients with measurement  47 non-null     object
 6   instructions                  47 non-null     object
 7   calories                      47 non-null     object
 8   servings                      47 non-null     object
 9   images                        47 non-null     object
dtypes: object(10)
memory usage: 3.8+ KB

In [4]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110 entries, 0 to 109
Data columns (total 10 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   title                         110 non-null    object
 1   prep_time                     110 non-null    object
 2   cook_time                     110 non-null    object
 3   total_time                    110 non-null    object
 4   ingredients                   110 non-null    object
 5   ingredients with measurement  110 non-null    object
 6   instructions                  110 non-null    object
 7   calories                      110 non-null    object
 8   servings                      110 non-null    object
 9   images                        110 non-null    object
dtypes: object(10)
memory usage: 8.7+ KB

In [5]:
# Empty Dataframe
columns = [
    'title',
    'prep_time',
    'cook_time',
    'total_time',
    'ingredients',
    'ingredients with measurement',
    'instructions',
    'calories',
    'servings',
    'images'
]

In [6]:
final = pd.DataFrame(columns=columns)
final

Empty DataFrame
Columns: [title, prep_time, cook_time, total_time, ingredients, ingredients with measurement, instructions, calories, servings, images]
Index: []

In [7]:
final = pd.concat([final, df1], ignore_index=True)
final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47 entries, 0 to 46
Data columns (total 10 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   title                         47 non-null     object
 1   prep_time                     47 non-null     object
 2   cook_time                     47 non-null     object
 3   total_time                    47 non-null     object
 4   ingredients                   47 non-null     object
 5   ingredients with measurement  47 non-null     object
 6   instructions                  47 non-null     object
 7   calories                      47 non-null     object
 8   servings                      47 non-null     object
 9   images                        47 non-null     object
dtypes: object(10)
memory usage: 3.8+ KB

In [8]:
final = pd.concat([final, df2], ignore_index=True)
final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157 entries, 0 to 156
Data columns (total 10 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   title                         157 non-null    object
 1   prep_time                     157 non-null    object
 2   cook_time                     157 non-null    object
 3   total_time                    157 non-null    object
 4   ingredients                   157 non-null    object
 5   ingredients with measurement  157 non-null    object
 6   instructions                  157 non-null    object
 7   calories                      157 non-null    object
 8   servings                      157 non-null    object
 9   images                        157 non-null    object
dtypes: object(10)
memory usage: 12.4+ KB

In [9]:
final['type_of_meal'] = 'drink'

In [10]:
final.sample(5)

,title,prep_time,cook_time,total_time,ingredients,ingredients with measurement,instructions,calories,servings,images,type_of_meal
5,Voldemortâ€™s Dark Serum,{'minutes': '5'},-,{'minutes': '5'},"['pomegranate juice', 'silver tequila or Mezca...","{'pomegranate juice': '1', 'silver tequila or ...","['1. Combine the pomegranate juice, tequila, C...",448 kcal,1,https://www.halfbakedharvest.com/wp-content/up...,drink
135,Frothy Whipped Coffee White Russian,{'minutes': '5'},-,{'minutes': '5'},"['hot water', 'instant coffee powder', 'honey ...","{'hot water': '1', 'instant coffee powder': '1...","['1. Combine the hot water, instant coffee, an...",372 kcal,1,https://www.halfbakedharvest.com/wp-content/up...,drink
32,Smashed Berry RosÃ¨ Spritz,{'minutes': '10'},-,{'minutes': '10'},"['fresh blackberries', 'fresh raspberries', 'b...","{'fresh blackberries': '1/2', 'fresh raspberri...","['In a pitcher, muddle the raspberries, blackb...",211 kcal,6,https://www.halfbakedharvest.com/wp-content/up...,drink
3,Spiced Cranberry Punch,{'minutes': '10'},{'minutes': '5'},{'minutes': '15'},"['fresh cranberries', 'honey or maple syrup, u...","{'fresh cranberries': '2', 'honey or maple syr...","['1. In a pot, bring 1/2 cup water, the cranbe...",296 kcal,8,https://www.halfbakedharvest.com/wp-content/up...,drink
97,Vanilla Chai Tea White Russian,{'minutes': '5'},{'minutes': '5'},{'minutes': '10'},"['chai tea bags', 'honey', 'vanilla extract', ...","{'chai tea bags': '4', 'honey': '1/3', 'vanill...","['1. In a medium pot, bring 1 cup water to a b...",934 kcal,1,https://www.halfbakedharvest.com/wp-content/up...,drink

In [11]:
def save_list_to_txt(filename, data_list):
    """
    Save a list of strings to a text file, one item per line.
    
    :param filename: The name of the file to save the list to.
    :param data_list: The list of strings to save.
    """
    with open(filename, 'w') as f:
        for item in data_list:
            f.write(f"{item}\n")

In [12]:
final.to_csv('recipes_drinks.csv', index=False)